
// Font.
$font: (
  primary: ("Roboto","Helvetica Neue",Helvetica,sans-serif)
);

// Palette.
$palette: (
  primary:       #fff,
  secondary:     darken(#555e69, 15%),
  meta:          lighten(#555e69, 25%),
  border:        #fff,
  border-alt:    #fff,
  accent:        #1de2bc,
  accent-blue:   #d40d0d,
  accent-violet: #9371e6,
  accent-orange: #fc6e51
);

@import "imports/functions";

@import "fontawesome.min.css";
@import "brands.min.css";

@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/animations";
@import "imports/structure";
@import "imports/header";
@import "imports/content";
@import "imports/footer";
@import "imports/palettes";
@import "imports/banner";